.Form {

    margin-top: 30px;
    margin-left: 70px;
    margin-right: 60px;
    width: 88%;
    height: 450px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background: #EEEEEE;

    .table-order {
        margin-top: 30px;
        background: green;
        width: 93%;
        margin-left: 40px;
        text-align: center;
        color: white;
    }

    .row {
        margin-left: 40px;
    }
    span{
        margin-left: 40px;
        font-weight: 700;
    }

}