.Nav-container{
    margin: 0;
    padding-left: 0;

    .appHeaderContainer {
        width: 100%;
        min-height: 110px;
        color:#064e28;
        background: #064e28;
        justify-content: space-between;
        box-shadow: 0px 0px 5px #064e28;
        padding-bottom: 2px;
        list-style-type: none;
            .divLogo{
                // margin: 0px 0px 0px 30px;
            
            .logo-header {
                height: 15px;
                width: 15px;
               
                .logo-bv{
                    width: 100px; 
                    margin: 22px 0px 0px 20px;
                }
             }
            }
            .List-Nav{
                display: flex;
                margin-left: 150px;
                flex-wrap: wrap;
                // padding: 0 6px;
                a {
                    color: white;
                    text-transform: uppercase;
                    height: 10px;
          
                li{
                border: 1px solid white;

                }

                }
                a, p {
                    width: 110px;
                    padding: 0px 20px;
                    // border: 1px solid white;
                }

               
                p{
                    color: white;
                    font-size: 14px;
                    margin-right: 1px;
                }
                .pointer{
                    text-align: center;
                    margin: 0 10px;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    border-radius: 10px;
                   
                    .Icon-navbar{
                         margin: 0px 20px 0px 0px;
                    }
                }
                .pointer:hover {
                    cursor: pointer;
                }

                // .icon{
               
                    
                //     align-items: center;
                    
                // }
                
            }
    }   

}
// .appHeaderContainer {
//     max-height: 370px;
//     color: $c-text;
//     background: #064e28;
//     justify-content: space-between;
//     box-shadow: 0px 0px 5px ​$c-text;
//     margin: 0px !important;
//     .divLogo{
//         margin: 0px 0px 0px 30px;
//     }
//     .logo-header{
//         img{
//             height: 65px;
//             width: 100%;
//         }
//     }
//     li{
//         width: unset;
//     }
//     li:hover{
//         background-color: $c-background-head-hover;
//         a:hover{
//             color: white;
//         }
//     }
//     a {
//         color: white;
//         text-transform: uppercase;
//     }
//     .user-icon{
//         float: right;
//         margin-right: 20px;
//     }
//     .icon{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         border-left: 1px solid white;
//         border-right: 1px solid white;
//         border-radius: 10px;
//         width: 130px;
//         margin: 0px!important;
//     }
//     .iconForEachRole{
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         border-left: 1px solid white;
//         border-right: 1px solid white;
//         border-radius: 10px;
//         width: 230px;
//         margin: 0px!important;
//     }
//     .badgeFly{
//         position: absolute;
//         right: 260px;
//     }
  
// }