.Form-2{
   
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 60px;
    width: 88%;
    height: 200px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background:#EEEEEE;
    .row-2{
        margin-left: 40px;
    }
    span{
        font-weight: 700;
    }
}

